<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - kendoTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/kendoTest.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/default-main.css" />
    <script src="~/js/kendo-ui-license.js"></script>
</head>
<body>
   @*  <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">kendoTest</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
    <div id="Navbar"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - kendoTest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @* <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script> *@
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/js/kendo.appbar.min.js"></script>
    <script src="~/js/kendo.form.min.js"></script>
    <script src="~/js/kendo-ui-license.js"></script>
    <script>
        $("#Navbar").kendoAppBar({
            positionMode: "sticky",
            position: "top",
            themeColor: "dark",
            items: [
                
                { width: 8, type: "spacer" },
                { template: '<h1 class="links">Forms</h1>', type: "contentItem" },
                { width: 8, type: "spacer" },
                { template: '<a href="/Report404/Report404"><h5 class="links">Request Form</h5></a>', type: "contentItem" },
                {
                    className: 'social-section',
                    template: function () {
                        return kendo.ui.icon({ icon: 'facebook' }) + ' ' +
                            kendo.ui.icon({ icon: 'twitter' }) + ' ' +
                            kendo.ui.icon({ icon: 'pinterest' }) + ' ' +
                            kendo.ui.icon({ icon: 'google-plus' }) + ' ' +
                            kendo.ui.icon({ icon: 'linkedin' })
                    },
                    type: "contentItem"
                },
                { type: "spacer" },
                
            ]
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
