html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1 {
    text-align: center;
    margin-top: 50vh; /* Adjust this value based on your design */
    transform: translateY(-50%);
}

form1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

label {
    display: block;
}

input {
    width: 100%;
}
/* Additional styling for the h1 element if needed */
table, th, td {
    border: 1px solid black;
}


.form-container {
    overflow-x: auto;
}

body {
    margin: 0; /* Remove default margin from the body */
    padding: 0; /* Remove default padding from the body */
}

h1 {
    margin-top: 0; /* Remove default margin from h1 */
}
